* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body,#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #03152B;
    color: #f1f1f1;
    font-family: sans-serif;
}