/* /** Incidencias List **/

.incidencias-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #1c1c1c;
  }
  
  .incidencias-container .campos-list,
  .incidencias-container .incidencias-list .incidencia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .incidencias-container .campos-list div,
  .incidencias-container .incidencias-list .incidencia div{
    flex: 1;
  }
  
  .incidencias-container .campos-list {
    border-bottom: solid 3px black;
    background-color: #d1d6db;
    padding: 1rem;
    border-radius: 0.2rem 0.2rem 0 0;
  }
  
  .incidencias-container .incidencias-list .incidencia {
    padding: 0.5rem 1rem;
    border-bottom: solid 2px black;
  }
  
  .incidencias-container .campos-list div,
  .incidencias-container .incidencias-list .incidencia {
    font-weight: bold;
  }
  
  .incidencias-container .incidencias-list .incidencia .incidencia-detalle .boton-detalle{
    background-color: #d1d6db;
    width: 30px;
    text-align: center;
    border-radius: 100%;
    padding: 0.2rem;
    margin: 0 auto;
  } 
 
