/* webcamcapture.css */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
    align-items: center; /* Centra horizontalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido */
  }
  
  .webcam {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* Asegura que la cámara ocupe toda la altura */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el área sin deformarse */
  }
  
  .btn {
    font-weight: bold;
    padding: 0.5rem 1rem; /* py-2 px-4 */
    border-radius: 0.5rem; /* rounded-full */
    cursor: pointer;
    color: white;
    position: absolute;
    z-index: 1;
    border: solid 1px;
  }
  
  .btn-capture {
    background-color: #222d3e; /* bg-blue-500 */
    bottom: 1rem;
    right: 1rem;
    position: fixed;
    padding: 1rem;
  }
  
  .btn-capture:hover {
    background-color: #1d4ed8; /* hover:bg-blue-700 */
  }
  
  .btn-close {
    background-color: #f87171; /* bg-red-400 */
    top: 1rem;
    right: 1rem;
  }
  
  .btn-close:hover {
    background-color: #dc2626; /* hover:bg-red-600 */
  }
  
  .image-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 100vh; 
    position: absolute; 
    top: 0;
    left: 0;
  }
  
  .captured-image {
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    background-color: red; 
  }
  
  .btn-volver-sacar-foto {
    position: absolute;
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid 1px white;
    background-color: black;
    color: white;
    font-weight: bold;
    right: 2rem;
    bottom: 1rem;
    cursor: pointer;
  }

  .btn-volver-sacar-foto:hover {
    background-color: rgba(0, 0, 0, 0.754);
  }