/* webcamcapture.css */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
  }
  
  .webcam {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    object-fit: cover; 
  }
  
  .btn {
    font-weight: bold;
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem; 
    cursor: pointer;
    color: white;
    position: absolute;
    z-index: 1;
    border: solid 1px;
  }
  
  .btn-capture {
    background-color: #222d3e; 
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
  }
  
  .btn-capture:hover {
    background-color: #1d4ed8;
  }
  
  .btn-close {
    background-color: #f87171; 
    top: 1rem;
    right: 1rem;
  }
  
  .btn-close:hover {
    background-color: #dc2626; 
  }
  
  .captured-image {
    width: 100%;
    max-height: 100vh;
  }
  
  .hidden {
    display: none;
  }
  