.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: auto;
    margin-bottom: auto;

}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

#logoapp {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

#msjerror {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-bottom: 15px;

}